.poster {
    min-height: 37vw;
}
@supports (display: grid) {
    .poster {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 25px;
        justify-items: center;
        align-items: center;

        &__grid-container {
            grid-column: 1 / span 1;
            grid-row: 2 / span 1;
            border: solid 5px gray;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(3, 1fr);
            display: grid;
            width: 25vw;
            height: 25vw;
            margin: auto;
            transform: rotate(45deg);
            overflow: hidden;
        }
        &__grid-item {
            min-width: 33%;
            min-height: 33%;
            background-color: white;
            color: black;
            text-align: center;
            display: grid;
            align-items: center;
            justify-content: center;
        }
        &__grid-item:nth-of-type(odd) {
            background-color: black;
            color: white;
        }
        &__grid-item__piece {
            height: 40%;
            transform: rotate(-45deg);
        }
        &__grid-item__text {
            font-weight: bold;
            transform: rotate(-45deg);
        }
        &__grid-item__link {
            text-decoration: underline;
            color: inherit;
            transform: rotate(-45deg);
        }
        &__grid-item__link:hover {
            font-size: 1.1rem;
            transition: font-size 0.1s ease-in-out;
            cursor: pointer;
        }
        .poster__alt-text {
            visibility: hidden;
            grid-row: 1/1;
            margin: 20px 0;
            text-align: center;
            font-weight: bold;
        }
        @media (max-width: 1199px) {
            &__grid-item__text {
                display: none;
            }
            .poster__alt-text {
                visibility: visible;
            }
        }
    }
}
@supports not (display: grid) {
    .poster {
        display: table;
        width: 100%;
        height: 43vw;

        &__grid-container {
            border: solid 5px gray;
            width: 25vw;
            height: 25vw;
            margin: auto;
            transform: rotate(45deg);
            overflow: hidden;
            display: table-row-group;
        }
        &__grid-item {
            width: 33.33%;
            height: 33.33%;
            background-color: white;
            color: black;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }
        &__grid-item:nth-child(odd) {
            background-color: black;
            color: white;
        }
        &__grid-item__piece {
            height: 40%;
            transform: rotate(-45deg);
        }
        &__grid-item__text {
            transform: rotate(-45deg);
        }
        &__grid-item__link {
            text-decoration: underline;
            color: inherit;
            transform: rotate(-45deg);
        }
        &__grid-item__link:hover {
            font-size: 1.1rem;
            cursor: pointer;
        }
    }
}
