<div class="article">
    <div class="banner article__banner">
        <h1 class="banner__header">
            El Ajedrez: Un Juego de Estrategia Milenario
        </h1>
        <p class="banner__author"></p>
    </div>
    <div class="article__sided-header">
        <h1 class="sided-header__title">El ajedrez es uno de los juegos de estrategia más antiguos del mundo</h1>
        <p class="sided-header__description"> Con una historia que se remonta a más de 1500 años, este juego se ha
            convertido en una actividad popular en todo el mundo, y es conocido por su complejidad y su capacidad para
            mejorar el pensamiento lógico y la concentración.
            El objetivo del ajedrez es simple: capturar al rey del oponente mientras se protege el propio. Cada pieza en
            el tablero de ajedrez tiene su propia función y movimiento específico, lo que hace que cada partida sea
            única
            y desafiante. Los jugadores deben anticipar los movimientos de su oponente y planificar sus propias jugadas
            cuidadosamente para poder ganar. A continuación, se presentan algunos datos interesantes sobre el ajedrez:
        </p>
    </div>
    <ul class="article__list">
        <li>El juego de ajedrez moderno se desarrolló en Europa durante el siglo XV.</li>
        <li>El título de "Gran Maestro" es el más alto que puede obtener un jugador de ajedrez, y solo se otorga a
            aquellos que han demostrado un alto nivel de habilidad y logros en competiciones oficiales.</li>
        <li>El campeonato mundial de ajedrez es uno de los eventos deportivos más prestigiosos del mundo, y ha sido
            dominado por jugadores de Rusia y la antigua Unión Soviética en la mayoría de las ediciones.</li>
        <li>Los ordenadores son capaces de jugar al ajedrez a un nivel muy alto, y a menudo son utilizados por los
            jugadores para mejorar sus habilidades y estrategias</li>
    </ul>
    <p class="article__header">A pesar de ser un juego antiguo, el ajedrez sigue siendo una actividad popular en todo
        el mundo. </p>
    <p class="article__text">Es una excelente manera de mejorar el pensamiento crítico y la toma de decisiones, y es
        un juego que puede disfrutarse a cualquier edad. Si todavía no has probado el ajedrez, ¡anímate y descubre por
        qué es un juego tan fascinante!</p>
    <img class="article__img" src="assets/images/focused.jpeg" alt="focused chess player">
    <p class="article__text">En resumen, el ajedrez es un juego milenario de estrategia que ha desafiado a jugadores
        de todo el mundo durante siglos. Con su complejidad y capacidad para mejorar el pensamiento lógico, el ajedrez
        es un juego que puede disfrutarse a cualquier edad y en cualquier nivel de habilidad. Ya sea que estés buscando
        mejorar tus habilidades o simplemente quieras disfrutar de un juego fascinante, el ajedrez es una excelente
        opción. ¡Que comience la partida!</p>
</div>