<header>
    <nav class="header navbar navbar-light bg-light">
        <a class="header__logo navbar-brand" href="./index.html">
            <img class="header__logo-image" src="./assets/images/chesslogo.svg" alt="Logo">
        </a>
        <div class="header__menu" id="header__menu">
            <ul class="header__menu-list navbar-nav ms-auto">
                <li class="header__menu-item nav-item"><a class="nav-link" href="./miembros.html">Miembros</a>
                </li>
                <li class="header__menu-item nav-item"><a class="nav-link" href="./articulo.html">Articulo</a>
                </li>
                <li class="header__menu-item nav-item"><a class="nav-link" href="./trainer.html">Entrena</a></li>
            </ul>
        </div>
    </nav>
</header>