<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miembros</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="./assets/styles/index.scss">
    <link rel="stylesheet" href="./assets/styles/main.scss">
    <script src="./assets/scripts/main.js" type="module"></script>
</head>

<body>
    <include src="./views/header.html"></include>

    <div class="members">
        <h1 class="members__header">Miembros del club</h1>
        <div class="members__grid">
            <div class="member members__grid-item">
                <img class="member__img" src="assets/images/carlsen.jpg" alt="">
                <p class="member__name">Magnus Carlsen</p>
                <p class="member__desc">To many, GM Magnus Carlsen is the best to ever play the game, although GMs Garry
                    Kasparov and Bobby Fischer remain in the conversation.</p>
                <p class="member__elo">ELO: 2853</p>
            </div>
            <!-- <div class="member members__grid-item">
                <img class="member__img" src="assets/images/ian.png" alt="">
                <p class="member__name">Ian Nepomniachtchi</p>
                <p class="member__desc">GM Ian Nepomniachtchi (“Nepo” for short) is a Russian super grandmaster who has
                    twice
                    won the Candidates Tournament to play for the world championship.</p>
                <p class="member__elo">ELO: 2794</p>
            </div>
            <div class="member members__grid-item">
                <img class="member__img" src="assets/images/alireza.png" alt="">
                <p class="member__name">Alireza Firouzja</p>
                <p class="member__desc">Alireza Firouzja is an Iranian-born grandmaster who now plays for France. He is
                    a
                    world championship candidate and two-time Iranian champion.</p>
                <p class="member__elo">ELO: 2785</p>
            </div>
            <div class="member members__grid-item">
                <img class="member__img" src="assets/images/hikaru.png" alt="">
                <p class="member__name">Hikaru Nakamura</p>
                <p class="member__desc">Hikaru Nakamura was born December 9, 1987 in Hirakata, Japan.Nakamura has been
                    one
                    of
                    the world's top players for well over a decade...</p>
                <p class="member__elo">ELO: 2775</p>
            </div>
            <div class="member members__grid-item">
                <img class="member__img" src="assets/images/fabiano.png" alt="">
                <p class="member__name">Fabiano Caruana</p>
                <p class="member__desc">The prodigy who broke the record held by GM Hikaru Nakamura for America's
                    youngest
                    chess grandmaster has climbed the mountain of chess and reached the summit.</p>
                <p class="member__elo">ELO: 2775</p>
            </div>
            <div class="member members__grid-item">
                <img class="member__img" src="assets/images/suntzu.jpg" alt="">
                <p class="member__name">Sun Tzu</p>
                <p class="member__desc">Sun Tzu, el legendario general y estratega chino, habría sido un jugador de
                    ajedrez
                    astuto y preciso.</p>
                <p class="member__elo">ELO: 3000</p>
            </div> -->
        </div>
    </div>

    <include src="./views/footer.html"></include>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js" type="module"></script>
    <script src="../node_modules/@fortawesome/fontawesome-free/js/all.min.js" type="module"></script>
</body>

</html>