<div class="poster">
    <p class="poster__alt-text">Torneos de Ajedrez semanales</p>
    <div class="poster__grid-container">
        <div class="poster__grid-item"><i class="fa-solid fa-chess-queen poster__grid-item__piece"></i></div>
        <div class="poster__grid-item"></div>
        <div class="poster__grid-item"><i class="fa-solid fa-chess-knight poster__grid-item__piece"></i></div>
        <div class="poster__grid-item"></div>
        <div class="poster__grid-item"><span class="poster__grid-item__text">Torneos de ajedrez semanales</span></div>
        <div class="poster__grid-item"><i class="fa-solid fa-chess-king poster__grid-item__piece"></i></div>
        <div class="poster__grid-item"></div>
        <div class="poster__grid-item"><i class="fa-solid fa-chess-bishop poster__grid-item__piece"></i></div>
        <div class="poster__grid-item"><a class="poster__grid-item__link">Más info</a></div>
    </div>
</div>